.container {
  height: 100vh;
  position: relative;
}

.header {
  padding: 1rem 1rem 0px;
  display: grid;
  place-items: center;
  font-size: 15px;
}

.bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -10;
}

.bg img {
  /* width: 100%; */
  height: 100%;
  filter: blur(100px);
  scale: 2;
}

video {
  /* width: 100%; */
  height: 100%;
  opacity: 1;
  mix-blend-mode: lighten;
  filter: blur(50px);
  scale: 2;
  /* user-select: none; */
  /* -webkit-user-drag: none; */
}

.right {
  padding: 1rem;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 735px;
  /* margin-left: 2.5rem; */
}

.msgArea {
  overflow-y: auto;
  max-height: 70vh;
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


.inputbox {
  /* background-color: var(--background); */
  padding: 1rem;
  border-radius: 10px;
  /* border: var(--border); */
}

.msgArea:has(.bot) {
  padding: 1rem;
  border-radius: 10px;
}

.msgArea h2{
  text-align: center;
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
}

.img {
  background-color: #fff;
  height: 40px;
  min-width: 40px;
  width: 40px;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 5px;
  display: grid;
  place-items: center;
  position: relative;
}

.fa-arrow-up,
.fa-arrow-down {
  position: absolute;
  right: 0%;
  bottom: 0%;
  transform: translate(50%, 50%) rotate(45deg);
  text-shadow: 0px 0px 3px #fff, 0px 0px 4px #fff, 0px 0px 5px #fff,
    0px 0px 6px #fff, 0px 0px 7px #fff;
}

.msg-field {
  display: flex;
  gap: 1rem;
}

.msg-field p {
  margin-bottom: 1rem;
  /* color: var(--font-color); */
}

.inputbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  height: 60px;
  gap: 1rem;
}

.inputbox input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  /* color: var(--font-color); */
  width: 100%;
}

.inputbox input::placeholder {
  color: #ffffff9e;
}

.inputbox i {
  color: var(--font-color);
  font-size: 23px;
  cursor: pointer;
}

.inputbox i:hover {
  transform: scale(1.1);
}

.inputbox i:active {
  transform: scale(1);
}

/*            footer                */

.footer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  /* color: var(--font-color); */
  height: 35px;
  position: relative;
}

.toggle {
  height: 27px;
  width: 50px;
  border-radius: 50px;
  position: relative;
  /* background-color: var(--background); */
  border: var(--border);
}
.toggle::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: var(--font-color);
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
#check {
  display: none;
}
#check:checked ~ .toggle::before {
  left: 35px;
  background-color: var(--font-color);
}

.footer p {
  font-size: 13px;
}

.btn {
  height: 100%;
}

.btn button {
  /* color: var(--font-color); */
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  /* background-color: var(--background);
    border:  var(--border); */
}

.themes {
  background-color: var(--background);
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  border: var(--border);
  display: flex;
  align-items: center;
}

.themes input {
  margin: 3px;
}

.menu {
  /* background-color: var(--background); */
  /* position: relative; */
  height: 100%;
  /* padding: 1rem; */
  position: absolute;
  left: -1px;
  top: 0;
  /* border-right: var(--border); */
  z-index: 100;
  transition: 0.3s ease;
  backdrop-filter: blur(10px);
  user-select: none;
}

.menu:has(input[type="checkbox"]:checked) {
  left: 0;
  padding: 1rem;
  padding-bottom: 0px;
}

.hamburger {
  /* color: var(--font-color); */
  position: absolute;
  right: -21px;
  transform: translate(45%);
  border: 1px solid #ffffff7b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  top: 20px;
  background-color: #ffffff3e;
  height: 39px;
  width: 39px;
  transition: 0.3s;
}

.hamburger label {
  position: absolute;
  font-size: 50px;
  font-weight: 200;
  transition: 0.3s;
  cursor: pointer;
  top: -49%;
  left: 55%;
  transform: translate(-50%);
}

#close {
  display: none;
}

.hamburger label::before {
  content: "-";
  position: absolute;
  top: 5.5px;
  transition: 0.3s;
}

.hamburger label::after {
  content: "-";
  position: absolute;
  left: 0;
  bottom: 6px;
  transition: 0.3s;
}

#close:checked ~ .hamburger label::before {
  transform: rotate(90deg);
  top: 1.5px;
  left: -4px;
}

#close:checked ~ .hamburger {
  background-color: transparent;
  border: none;
}

#close:checked ~ .hamburger label {
  transform: rotate(45deg) translate(-50%, -50%);
  top: 20px;
  left: -50px;
  z-index: 999;
}

#close:checked ~ .hamburger label::after {
  opacity: 0;
}

.options {
  width: 200px;
  position: relative;
  transition: 0.3s ease;
}

.new-convo {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background-color: var(--main-background); */
  border-radius: 10px;
  border: var(--border);
  padding: 10px 30px 10px 10px;
  cursor: pointer;
  /* color: var(--font-color); */
}

.new-convo,
.prev-convo,
.clear-convo {
  font-size: 13px;
  width: 95%;
}

.prev-convo {
  margin-top: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 80vh;
  width: 100%;
}

.prev-convo-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  margin: 1rem 0;
  /* color: var(--font-color); */
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.prev-convo-items i {
  padding: 10px;
}

.prev-convo-items:hover {
  background-color: #ffffff2c;
}

.prev-convo div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clear-convo {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: var(--main-background);
  color: var(--font-color);
  border: var(--border);
  cursor: pointer;
  border-radius: 10px;
  margin-top: 1rem;
}

@media screen and (max-width: 769px) {
  .menu {
    position: absolute;
    z-index: 100;
  }

  /* .right {
    margin-left: 60px;
  } */
}

@media screen and (max-width: 425px) {
  .footer {
    height: 30px;
  }

  .toggle {
    height: 20px;
    width: 35px;
    border-radius: 50px;
    position: relative;
    /* background-color: var(--background); */
    border: var(--border);
  }
  .toggle::before {
    content: "";
    height: 16px;
    width: 16px;
    background-color: var(--font-color);
    border-radius: 50px;
    position: absolute;
    top: 51%;
    left: 10px;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  #check {
    display: none;
  }
  #check:checked ~ .toggle::before {
    left: 23px;
    background-color: var(--font-color);
  }

  .footer p {
    font-size: 10px;
  }

  .inputbox {
    height: 40px;
  }

  .msgArea .user p,
  .bot p {
    font-size: 13px;
  }
  .user .img,
  .bot .img {
    height: 30px;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    font-size: 12px;
  }

  .submit i {
    font-size: 20px;
  }

  .inputbox {
    padding: 0.5rem;
  }

  .inputbox input {
    font-size: 13px;
  }

  .menu .new-convo,
  .prev-convo,
  .clear-convo {
    font-size: 13px;
    width: 200px;
  }

  .right {
    margin: 0px;
  }
}

@media screen and (min-width: 670px) {
  .right {
    margin: auto;
  }
}
